@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  height: 100vh;
  padding: 1.5rem;
  gap: 4rem;
  overflow: hidden; /* Prevent scrollbars during animation */
}

.left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s ease;
}

.heading.slide-right {
  opacity: 1;
  transform: translateX(0);
}

.heading h1 {
  font-weight: 600;
}

.qs {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #666;
  opacity: 0;
  transform: translateX(150%);
  transition: all 1s ease;
}

.qs.slide-left {
  opacity: 1;
  transform: translateX(0);
}

.qs button {
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  padding: 8px 10px;
  background-color: white;
  cursor: pointer;
  color: rgb(153, 204, 117);
  font-weight: 700;
  margin-left: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transform: translateY(100%);
  transition: all 1s ease;
}

.form.slide-up {
  opacity: 1;
  transform: translateY(0);
}

.form p {
  color: #666;
}

.input-box {
  margin-top: 10px;
}

.input-group {
  font-family: "Segoe UI", sans-serif;
  margin: 1em 0 1em 0;
  width: 70%;
  position: relative;
}

.input-group input {
  font-size: 100%;
  padding: 1.4em 1em 1em 1em;
  outline: none;
  border: 1px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 10px;
  width: 100%;
}

.input-group label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 1em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.input-group :is(input:focus, input:valid) ~ label {
  transform: translateY(-20%) scale(0.8);
  margin: 0em;
  color: rgb(153, 204, 117);
  padding: 0.4em;
}

.input-group :is(input:focus, input:valid) {
  border-color: rgb(153, 204, 117);
}

.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 70%;
}

.checkbox-group .checkbox {
  margin-right: 10px;
}

.checkbox {
  appearance: none;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 8px;
  border: 1px solid #666;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.checkbox-group span {
  color: #666;
}

.checkbox::before {
  position: absolute;
  bottom: -4px;
  left: 1px;
  content: "✔";
  font-size: 40px;
  color: rgb(153, 204, 117);
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}

.checkbox:checked::before {
  animation: zoom 0.5s ease-in-out;
  transform: scale(1);
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(1.5);
  }

  40% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.2);
  }

  90% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.login-btn {
  border: 1px solid black;
  border-radius: 25px;
  font-size: 14px;
  padding: 14px 20px;
  background-color: rgb(153, 204, 117);
  color: white;
  width: 70%;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

.bottom-warning {
  display: flex;
  gap: 20px;
}

.bottom-warning a {
  text-decoration: none;
  color: rgb(153, 204, 117);
  margin-top: 20px;
}

.footer {
  opacity: 0;
  transform: translateY(100%);
  transition: all 1s ease;
}

.footer.slide-up {
  opacity: 1;
  transform: translateY(0);
}

.footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 12px;
  color: #666;
}

.right {
  width: 100%;
  display: grid;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 1.5s ease;
}

.right.slide-right {
  opacity: 1;
  width: 100%;
  transform: translateX(0);
}

.right .img {
  width: 100%;
  border-radius: 30px;
  background-image: url("./img.jpg");
  background-size: cover;
  background-position: center;
}
